<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Takus Dev & Services</title>
   {% load static %}
   <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>  
   <header>
       <a href="/"><img src="{% static 'images/logo.png' %}" alt=""></a>
       <nav>
           <ul>
               <li><a href="/">HOME</a></li>
               <li><a href="#services">SERVICES</a></li>
               <li><a href="#achieve">ACHIEVEMENTS</a></li>
           </ul>
           <div id="log">
               <a href="/inscription/">INSCRIPTION</a>
               <a href="/connexion/">CONNEXION</a>
           </div>
       </nav>
   </header>
   <main>
       <h1>Welcome !</h1>
       <div id="sep">
           <img src="{% static 'images/triangle2.png' %}" alt="">
           <img src="{% static 'images/triangle1.png' %}" alt="" id="imf">
       </div>
       <div id="home">
        <div id="bio1">
                <h3>{{ bio.titre }}</h3>
                <p>{{ bio.detail_court }}</p>
                <a href="/biodet/">EN SAVOIR PLUS</a>
        </div>
           <img src="{% static 'images/myp.jpeg' %}" alt="">
       </div>
       <div id="sep">
           <img src="{% static 'images/triangle2.png' %}" alt="">
           <img src="{% static 'images/triangle1.png' %}" alt="" id="imf">
       </div>
       <div id="services">
           <div id="stete">
               <h3>Nos services </h3>
               <form>
                   <label for="opt">Trier par:</label>
                   <select name="" id="opt">
                       <option value="1" selected="selected">Nom</option>
                       <option value="2">Prix</option>
                       <option value="3">Avis</option>
                       <option value="3">Date</option>
                   </select>
               </form>
           </div>
           <div id="sitems">
               <table>
                    {% for service in services %}
                        {% if forloop.counter0|divisibleby:4 %}
                            <tr></tr>
                        {% endif %}
                        <td>
                            <div id="col">
                                {% if service.image %}
                                    <img src="{{ service.image.url }}" alt="{{ service.nom }}">
                                {% else %}
                                    <img src="/static/default_service_image.png" alt="Image par défaut">
                                {% endif %}
                            </div>
                            <h4>{{ service.nom }}</h4>
                            <p>
                                {{ service.detail_short }}
                            </p>
                            <a href="#">CONSULTER</a>
                        </td>
                    {% endfor %}
                    {% if forloop.counter0|divisibleby:4 == False %}
                        </tr>
                    {% endif %}
               </table>
           </div>
       </div>
       <div id="sep">
            <img src="{% static 'images/triangle2.png' %}" alt="">
            <img src="{% static 'images/triangle1.png' %}" alt="" id="imf">
        </div>
        <div id="achieves">
            <h3>Mes realisations</h3>
            <ul id="items">
                {% for realisation in realisations %}
                    <li>
                        <div id="medya">
                            {% if realisation.video_short %}
                                <video class="media_content video" src="{{ realisation.video_short.url }}" controls="controls"></video>
                            {% elif realisation.image %}
                                <img class="media_content image" src="{{ realisation.image.url }}" alt="{{ realisation.titre }}">
                            {% endif %}
                        </div>                
                        <div id="des">
                            <h4>{{ realisation.titre }}</h4>
                            <p>{{ realisation.detail_short }}</p>
                            <table>
                                <tr>
                                    <td style="font-size: xx-large;">Date: </td>
                                    <td>{{ realisation.date_real }}</td>
                                </tr>
                                <tr>
                                    <td style="font-size: xx-large;">Lieu: </td>
                                    <td>{{ realisation.lieu_real }}</td>
                                </tr>
                                <tr style="width: 190%;">
                                    <td style="font-size: xx-large;">Noms du clien: </td>
                                    <td style="font-weight: bold; color: rgb(45, 45, 207); font-size: x-large;">{{ realisation.nom_client }}</td>
                                </tr>
                            </table>
                            <div id="purchase">
                                <button id="read">READ MORE</button>
                                <button id="try">TRY IT</button>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
<!--        <div id="sep">
            <img src="{% static 'images/triangle2.png' %}" alt="">
            <img src="{% static 'images/triangle1.png' %}" alt="" id="imf">
        </div> -->
   </main>
   <a href="#" id="top"><img src="{% static 'images/arrow.png' %}" alt=""></a>
   <footer>
       <h4>You Can Join Me On</h4>
       <div id="social">
           <img src="{% static 'images/insta.png' %}" alt="">
           <img src="{% static 'images/facebook_5968764.png' %}" alt="">
           <img src="{% static 'images/linkedin_3536505.png' %}" alt="">
           <img src="{% static 'images/location_90567.png' %}" alt="">
           <img src="{% static 'images/logo-twitter-blanc.png' %}" alt="">
           <img src="{% static 'images/telegram_3536661.png' %}" alt="">
           <img src="{% static 'images/whatsapp_3536445.png' %}" alt="">
           <img src="{% static 'images/youtube_4494485.png' %}" alt="">
       </div>
       <div id="legal">
<!--             <h4>Build by TAKAM STEVE AROLD</h4> -->
           <span id="cop">
               <img src="{% static 'images/copyright_24dp_000000_FILL0_wght400_GRAD0_opsz24.png' %}" alt="">
               <p>Copyright 2018./ <i>Takam Steve Arold</i></p>
           </span>
       </div>
   </footer>
</body>
</html>